#answer,
#hint {
  display: none;
  border: lightgrey solid 2px;
  margin-top: 20px;
  padding: 5px;

}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: rgb(13, 68, 22);
  color: whitesmoke;
}

.btn {
  background-color: whitesmoke;
}
